.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #fff;
  grid-area: title;
  text-align: right;
}

@media screen and (min-width: 914px) {
  .profile__title {
    margin-bottom: 16px;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
}
