.profile__info {
  max-width: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

@media screen and (min-width: 914px) {
  .profile__info {
    max-width: 336px;
    margin-bottom: 16px;
  }
}
